:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000 !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* index.css */
.container, .container-fluid {
    background-color: #000000
     !important;
}

.row {
    background-color: #000 !important;
}

.col, [class*="col-"] {
    background-color: #000 !important;
}

/* Добавьте в ваш CSS файл */
.navbar .container-fluid {
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
}

.navbar .nav-link {
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
}

.navbar-custom {
    height: 80px !important;
    background: rgba(0,0,0,1) !important;
    border-bottom: 1px solid #333 !important;
}

.navbar-custom .container-fluid {
    height: 100% !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
}

.navbar-custom .nav-link {
    padding: 0 20px !important;
}